<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/albums.css">
    <title>Home</title>
</head>
<body>
    <h1>
        <p></p>
        <a href="#" id='logoutbtn'>Log out</a>
    </h1>
    <form style="border:1px solid #ccc">
        <div class="container">
            <h1>Insert Album Cover</h1>
            <hr>
            <label for="url"><b>URL</b></label>
            <input type="text" placeholder="Enter URL to Album Cover" name="url" id="url-input" required>

            <div class="clearfix">
                <button class ="addbtn">Add Album</button>
            </div>
        </div>
    </form>

    <main>
        
        <div id="main">
        <!--  
            <div class="album" style="border:1px solid #ccc"><img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Blonde_-_Frank_Ocean.jpeg" /> 
                <div class="clearfix">
                    <button class="remove" type="submit">Remove</button>
                </div>
            </div>
            <div class="album" style="border:1px solid #ccc"><img src="https://cdn.hmv.com/r/w-1280/p-webp/hmv/files/cd/cd75c1b0-e05c-41d3-84fa-d5e64d860e46.jpg" />
                <div class="clearfix">
                    <button class="remove" type="submit">Remove</button>
                </div>
            </div>
        -->
        </div>
        
        
    </main>
    <script src="scripts/albums.js"></script>
</body>
</html>